html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #222222;
  color:#fafafa;
  font-family: 'Raleway', sans-serif;

}

.centerbox {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.foot{
  font-size: 0.7rem;
  padding:10px;
  text-align: left;
}
.foot>a{
  color:#ccc;
  width:100%;
}
.foot i{
width:20px;
  padding:5px;
  border-radius: 5px;
  margin-right:10px;
  margin-bottom: 5px;;
  color:#222;
  background-color: #ccc;
}